body {
    background-color:rgb(250, 248, 248);

} 
h1{
    color: black;
    text-align: center;
   font-style: italic;
   text-decoration: underline;
   
}
h2{color: black;}


li{
    display: inline-block;
    margin: 50px 50px ;
    
}


a {
    color: black;
    font-size: 30px;
    padding: 15px 30px;
}

h3{
    color:black;
    font-size: 25px;
    text-align: left;
    text-decoration: underline;

}
p{
    color: black;
    font-size: 20px;
}
